* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background-image: url(/images/Sobre\ v2.svg);
}
.header {
    width: 100%;
    display: block;
    padding-top: 18px;
}
img {
    max-width: 100vw;
}

.navbar {
    width: 92%;
    max-width: 1260px;
    min-height: 80px;
    display: flex;
    align-items:center;

    padding: 0 20px;

    background-color: #ffffff;

    border-radius: 40px;

    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.10);
}



#logo {
    width: 201px;
    height: 56px;
    display: block;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 28px;

    margin-left: 20px;
    padding: 10px 55px;

    list-style: none;
}

.nav-links a {
    color: #416b4c;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    
}
main {
    min-height: 800px;
}

.title1 {
    color: #882B4E;
    font-weight: 900;
    font-size: 80px;
    
    
}

.title2 {
    color: #5E986B;
    font-weight: 900;
    font-size: 80px;
}

.cta1{
    border-radius:29px;
    padding: 8px;
    width: 242px;
    height: 59px;
    border: 2px solid #B53566;
    background: linear-gradient(#882B4E, #B53566);
    color: #fff;
    font-size: 24px;
    font-family: 'Poppins',sans-serif;
    font-weight: bold;
    margin-left: auto;
}
.botao2{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 29px;
  border: 2px solid #5E986B;
  width: 170px;
  background-color: transparent;
  height: 52px;
  padding: 8px;
  font-size: 22px;
}
.botao2link {
    text-decoration: none;
}