@import url('https://fonts.google.com/specimen/Poppins');
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;

    background-image: url("/images/sobre_fundo.svg");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}
.header {
    width: 100vw;
    padding-top: 18px;
}
img {
    max-width: 100vw;
}

button{
   border: none;
   outline: none;
}
.navbar {
    width: 1361px;
    height: 80px;

    position: fixed;
    top: 18px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;

    display: flex;
    align-items: center;

    padding: 0 25px;

    background-color: rgba(248, 246, 242, 0.7);
    border-radius: 40px;

    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.10);

    backdrop-filter: blur(60px);
    -webkit-backdrop-filter: blur(60px);
}



#logo {
    width: 201px;
    height: 56px;
    display: block;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 35px;

    margin-left: auto;

    list-style: none;
}

.nav-links a {
    color: #416b4c;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding: auto;
}
main {
     min-height: 800px;
     padding-top: 116px;
}

button {
    font-family: inherit;
    cursor: pointer;
}

h1{
  line-height: 70px;
}

.title1 {
    color: #882B4E;
    font-weight: 900;
    font-size: 80px;
    font-family: 'Poppins',sans-serif;
    line-height: 70px;
    letter-spacing: 2%;
}

.title2 {
    color: #5E986B;
    font-weight: 900;
    font-size: 80px;
   background: linear-gradient(90deg, #416b4c, #B2C29C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


.cta1 {
    border-radius: 29px;
    padding: 8px 20px;
    width: 261px;
    height: 54px;
    background: linear-gradient(#882B4E, #B53566);
    color: #fff;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-left: 50px;
}



.conhecaRenovai{
  background-color: #882B4E;
  color: #fff;
  padding: 7px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 29px;
  font-weight: 600;
  font-size: 22px;
}


.sobreNos{
  background-color: #F8F6F2;
  color: #416b4c;
  border-color: #5E986B;
  border-style: solid;

  padding: 7px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 29px;
  font-weight: 600;
  font-size: 22px;
  margin-left: 3%;
}



.hero-texto{
  position: relative;
  width: 45%;
  margin-left: 6%;
  margin-top: 3%;
}

.hero-texto p{
  font-size: 22px;
  margin: 2%;
  
}